.btn {
  position: relative;
  display: inline-block;
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  min-width: 120px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: $primary;
  border: none;
  border-bottom: 3px solid $secondary;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  cursor: pointer;
  transition: background .2s ease;
  
  &:hover {
    background: $secondary;
  }

  span {
    position: relative;
    top: 1px;
  }

  &--biggest {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    padding: 18px 33px 18px 10px;
    min-width: 157px;

    &:after {
      content: "";
      border-left: 4px solid #ffffff;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10%;
    }
  }

  &--big {
    font-size: 14px;
    line-height: 18px;
    padding: 15px 10px 14px;
    min-width: 156px;
  }

  &--full {
    width: 100%;
  }

  &--small {
    position: relative;
    min-width: 110px;
    font-size: 10px;
    line-height: 14px;
    padding: 8px;
    background: #000000;
    border-bottom: none;

    &:after {
      content: "";
      border-left: 4px solid #ffffff;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10%;
    }
  }

  &--smalleer {
    font-size: 12px;
    line-height: 16px;
    padding: 5px 20px 6px 6px ;
    min-width: 98px;
  }

  &--smallest {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 5px 7px;
    min-width: 98px;
  }

  &-square {
    min-width: 28px;
    width: 28px;
    height: 28px;
    font-size: 11px;
    line-height: 14px;
  }

  &-square--big {
    width: 30px;
    height: 30px;
  }
}
