.btn {
  position: relative;
  display: inline-block;
  padding: 7px 12px 4px;
  font-size: 11px;
  line-height: 14px;
  min-width: 110px;
  font-weight: 300;
  font-family: $secondary-font;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: $primary;
  border: none;
  border-bottom: 3px solid $auxiliary;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  transition: background .2s ease;

  @include respond-from(xsm) {
    padding: 8px 14px 5px;
    font-size: 12px;
    line-height: 16px;
    min-width: 120px;
  }
  
  &:hover {
    background: $auxiliary;
  }

  span {
    top: 1px;
    margin-right: 16px;
  }

  i {
    top: 1px;
  }

  &--big {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 10px 5px;
    min-width: 100px;

    @include respond-from (xs) {
      font-size: 12px;
      line-height: 16px;
      padding: 10px 14px 7px;
      min-width: 120px;
    }

    @include respond-from (md) {
      font-size: 14px;
      line-height: 18px;
      padding: 16px 19px 13px;
      min-width: 156px;
    }
  }

  &--biggest {
    font-size: 16px;
    line-height: 18px;
    padding: 17px 14px 16;
    min-width: 157px;
  }

  &--full {
    width: 100%;
  }

  &--small {
    font-size: 12px;
    line-height: 14px;
    padding: 7px 7px 6px;
    min-width: 230px;
  }

  &--smalleer {
    font-size: 12px;
    line-height: 16px;
    padding: 7px 14px 4px;
    min-width: 110px;
  }

  &--smallest {
    font-size: 12px;
    line-height: 16px;
    padding: 6px 14px 4px;
    min-width: 98px;
  }

  &-square {
    min-width: 28px;
    width: 28px;
    height: 28px;
    font-size: 11px;
    line-height: 14px;
    padding: 7px;

    &.btn--big {
      min-width: 36px;
      width: 36px;
      height: 36px;
    }

    &.btn--biggest {
      width: 36px;
      height: 36px;
      padding: 10px 7px;
      font-size: 14px;
      line-height: 16px;

      @include respond-from(sm) {
        font-size: 16px;
        line-height: 18px;
        padding: 17px 10px 16px;
        min-width: 47px;
        width: 47px;
        height: 50px;
      }
    }

    &.btn--small {
      min-width: 24px;
      width: 24px;
      height: 24px;
      line-height: 12px;
      padding: 6px;
    }

    &--smallest {
      min-width: 20px;
      width: 20px;
      height: 20px;
      line-height: 12px;
      padding: 4px;
    }
  }

  &--with-arr {
    padding-right: 33px;

    &:after {
      content: "";
      border-left: 4px solid #ffffff;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10%;
    }
  }

  &.btn-dark {
    background: #000000;

    &:hover {
      background: #3e3333;
    }
  }

  &.btn-secondary-color {
    background: $secondary;

    &:hover {
      background: lighten(desaturate(#4fafa0, 0.05), 20.59);
    }
  }

  &.btn-without-border-botttom {
    border-bottom: none;
  }
}
