.dropdown {
  position: relative;
  &.open {
    .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    .dropdown-toggle__arrow-icon {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &-toggle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 1.2;
    color: #000000;
    padding-right: 14px;
    cursor: pointer;

    &__arrow {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 14px;

      &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 4px solid transparent;
        border-top-color: #000000;
        border-bottom: none;
      }
    }
  }

  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 140px;
    background: #ffffff;
    border-radius: 0 0 6px 6px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    padding: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #544f4d;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: transform .3s ease, opacity .3s ease, visibility .3s ease;


    &.right-top {
      left: auto;
      right: 0;
    }

    &.right-bottom {
      left: auto;
      right: 0;
      top: auto;
      bottom: 100%;
    }

    &.left-bottom {
      top: auto;
      bottom: 100%;
    }
  }
}