.filter {
  padding: 0 15px;

  @include respond-from(smd) {
    padding: 0;
  }

  &-group {
    margin-bottom: 20px;

    @include respond-from(md) {
      margin-bottom: 30px;
    }
  }

  .panel-collapse {
    padding: 6px 8px;

    @include respond-from(md) {
      padding: 8px 10px;
    }
  }

  &-accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    line-height: 12px;
    color: #000000;
    text-transform: uppercase;
    width: 100%;
    padding: 4px 0;
    position: relative;
    border-bottom: $border;
    transition: color .3s ease;

    @include respond-from(md) {
      font-size: 12px;
      line-height: 14px;
      padding: 6px 0;
    }

    &.collapsed {
      color: #727272;
    }

    i {
      font-size: 8px;
      color: #000000;

      @include respond-from(md) {
        font-size: 10px;
      }
    }

    .icon-plus {
      display: none;
    }

    .icon-minus {
      display: block;
      font-weight: 600;
    }

    &.collapsed .icon-plus{
      display: block;
    }

    &.collapsed .icon-minus{
      display: none;
    }

    &-list {
      padding: 5px;
      margin-bottom: 10px;

      &__item {
        display: block;
        font-size: 12px;
        line-height: 18px;
        color: #727272;
        transition: color .3s ease;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: #000000;
        }
      }
    }

  }

  &-range {
    font-size: 12px;
    line-height: 18px;
    color: #848484;
    text-transform: uppercase;
    margin-bottom: 20px;
    max-width: 350px;

    @include respond-from(md) {
      margin-bottom: 40px;
    }
  }

  &-size {
    margin-bottom: 15px;

    @include respond-from(md) {
      margin-bottom: 20px;
    }

    &__text {
      font-size: 11px;
      line-height: 16px;
      text-transform: uppercase;
      color: #5e5e5e;
      margin-bottom: 6px;
      user-select: none;

      @include respond-from(md) {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
      }
    }

    &__radio-list {
      display: flex;
    }
  }

  .btn--filter {

    @include respond-to(md) {
      padding: 6px 14px 3px;
      font-size: 11px;
      line-height: 14px;
    }
  }
}
