.brands {

  &-wrap {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 17px;
    display: none;

    @include respond-from(xsm) {
      display: block;
    }
  }

  &-title {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: #414141;
    text-transform: uppercase;
    z-index: 2;

    &-wrap {
      text-align: center;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    margin: 0 -10px;

    &__item {
      padding: 0 10px;

      &:nth-child(n+7) {
        @include respond-to(sm) {
          display: none;
        }
      }
    }
  }
}