.catalog {

  &-row {
    margin: 0 -15px;
  }

  &-col {
    float: left;
    padding: 0 15px;

    &--preview {
      width: 59%;
    }

    &--description {
      width: 41%;
    }
  }

  .description-content {
    max-width: 330px;
    padding-top: 69px;
  }

  &-swiper-slide {
    padding-top: 17px;
  }

  &-slide__img {
    display: inline-block;

    &-wrapper {
      text-align: right;
      font-size: 0;
    }
  }

  &-product-price {
    margin-bottom: 22px;
  }

  &-product-text {
    margin-bottom: 27px;
  }

  .btn--big {

    .icon-plus {
      font-size: 11px;

      @include respond-from(xsm) {
        font-size: 12px;
      }
    }
  }

  &-slider__btn {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 25px;
    color: #cccccc;
    cursor: pointer;
    transition: color .3s ease;

    &--next {
      right: 0;
    }

    &--prev {
      left: 0;
    }

    &:hover {
      color: $primary;
    }

  }
}