.devider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

  @include respond-from(sm) {
    overflow: hidden;
  }

  &-img {
    position: relative;
    width: 120px;
    height: auto;
    z-index: 2;

    @include respond-from (xsm) {
      width: auto;
    }
  }
}
