$indent: 20px;
$indent-mobile: 15px;

.footer-navigation {
  background: #ededed;
  padding-bottom: 5px;
  padding-top: 30px;

  @include respond-from(smd) {
    padding-bottom: 30px;
  }

  @include respond-to(xsm) {
    display: none;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 (-1 * $indent-mobile);

    @include respond-from(smd) {
      justify-content: space-between;
    }
    @include respond-from(xl) {
      margin: 0 (-1 * $indent);
    }
  }

  &-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #544f4d;
    margin-bottom: 10px;
    min-height: 20px;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    margin: 0 (-1 * $indent-mobile);

    @include respond-to(smd) {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    @include respond-from(xl) {
      margin: 0 (-1 * $indent);
    }
  }

  &-col {
    padding: 0 $indent-mobile;

    @include respond-to(smd) {
      width: 50%;
      margin-bottom: 25px;
    }
    @include respond-from(xl) {
      padding: 0 $indent;
    }
  }
}

.footer-navs {
  width: 50%;
  padding: 0 $indent-mobile;

  @include respond-from(smd) {
    width: 67%;
  }
  @include respond-from(xl) {
    padding: 0 $indent;
  }
}
.footer-social {
  padding: 0 $indent-mobile;
  width: 50%;

  @include respond-from(smd) {
    width: 33%;
  }
  @include respond-from(xl) {
    padding: 0 $indent;
  }
}

.footer-nav-list__item {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #544f4d;
  cursor: pointer;
  transition: color .3s ease;

  &:hover {
    color: $secondary;
  }
}

.footer-social {
  &-list {
    max-width: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -5px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      background: #4c4c4b;
      color: #ffffff;
      border-radius: 50%;
      margin-bottom: 5px;
      transition: background .3s ease;
      cursor: pointer;

      &:hover {
        background: $primary;
      }
    }
  }

  &-img {
    width: 107px;
    height: auto;
  }
}


.footer {
  position: relative;
  background: #000000;
  padding: 11px 0px;

  @include respond-from(xsm) {
    padding: 21px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-from(xsm) {
      justify-content: space-between;
    }
  }

  .footer-copyright {
    color: #8d8d8d;
    font-size: 11px;
    line-height: 14px;

    &__site {
      margin-bottom: 4px;
    }
  }

  &-menu {
    position: absolute;
    display: flex;
    bottom: 100%;
    left: 0;
    width: 80%;
    padding: 10px 0;
    background: #000000;
    flex-direction: column;
    border-radius: 4px 4px 0 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-70%);
    transition: opacity .5s ease, visibility .5s, transform .5s ease;
    z-index: 3;

    @include respond-from(xsm) {
      position: static;
      background: initial;
      flex-direction: row;
      width: auto;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      padding: 0;
    }

    &__item {
      font-size: 14px;
      line-height: 24px;
      padding: 0 9px;
      cursor: pointer;

      @include respond-from(xsm) {
        font-size: 11px;
        line-height: 14px;

        border-right: 1px solid #555555;
      }

      &:last-child {
        border-right: none;
      }
    }

    &__link {
      color: #f4f4f4;
      transition: color .3s ease;

      @include respond-from(xsm) {
        color: #8d8d8d;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  &-dropdown.open .footer-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  &-humburger {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include respond-from(xsm) {
      display: none;
    }

    &__element {
      background: #ffffff;
      width: 100%;
      height: 5px;
      border-radius: 2px;

      &:after,
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background: #ffffff;
        border-radius: 2px;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }
  }
}

