.product-wrap {
  margin-bottom: 25px;

  @include respond-from(xsm) {
    margin-bottom: 38px;
  }
}


.product {

  @include respond-to(sm) {
    padding-top: 50px;
    position: relative;
  }

  @include respond-from(sm) {
    margin: 0 -15px;
    display: flex;
  }

  &-col {
    padding: 0 15px;

    &--images {
      width: 100%;
      margin-bottom: 20px;

      @include respond-from(sm) {
        width: 43%;
      }
  }

    &--info {
      width: 100%;

      @include respond-from(sm) {
        width: 57%;
      }
    }
  }

  &-gallery-big {
    margin-bottom: 13px;

    @include respond-to(xsm) {
      max-width: 400px;
    }

    &__img {
      width: 100%;
    }
  }

  &-gallery-thumbs {

    @include respond-to(xsm) {
      max-width: 400px;
    }
  }

  &-back {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    padding: 7px 0 7px 15px;

    @include respond-from(sm) {
      line-height: 18px;
      padding: 12px 0 12px 15px;
    }

    &:hover .product-back__text-mark {
      display: inline;
      color: $primary;
    }

    &-wrap {
      width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 1px solid #d6d6d6;
      margin-bottom: 7px;

      @include respond-from(sm) {
        position: static;
        transform: translateX(0);
        margin-bottom: 15px;
      }
    }

    &__icon {
      position: absolute;
      top: 8px;
      left: 0;
      color: #cccccc;
      font-weight: 700;

      @include respond-from(sm) {
        top: 15px;
      }
    }

    &__text {
      color: #8f8f8f;
      margin-right: 3px;

      &-mark {
        color: #8f8f8f;
        transition: color .3s ease;
      }
    }
  }

  &-name {
    font-size: 20px;
    line-height: 24px;
    color: #4a4a4a;
    margin-bottom: 10px;

    @include respond-from(xsm) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 18px;
    }
  }

  &-price {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    color: $primary;

    @include respond-from(xsm) {
      font-size: 36px;
      line-height: 40px;
    }

  }

  &-price-rewievs-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

     @include respond-from(xsm) {
       margin-bottom: 23px;
     }
  }

  &-rewievs {
    display: flex;
    align-items: center;

    &__text {
      font-size: 12px;
      line-height: 16px;
      color: #8f8f8f;
      margin-right: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__progress-bar {
      position: relative;
      height: 9px;
      width: 50px;
      background: url("../images/bg-progress-inside.jpg") repeat-x;
      z-index: 1;
    }
  }

  .progress-bar__filling {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../images/bg-progress.jpg") repeat-x;
    z-index: 3;
  }

  &-text {
    font-size: 12px;
    line-height: 18px;
    color: #8f8f8f;
    margin-bottom: 20px;
  }

  &-details {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: none;

    @include respond-from(xs) {
      margin-bottom: 24px;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #d6d6d6;
    }

    &__size {

      @include respond-to(xs) {
        margin-bottom: 20px;
      }
    }

    &-colors__item {
      display: inline-block;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .btn--big {

    .icon-plus {
      font-size: 11px;

      @include respond-from(xsm) {
        font-size: 12px;
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond-from(sm) {
      justify-content: flex-start;
    }
  }

  &-quantity {
    display: flex;
    margin-right: 5px;

    &__btn {}

    &__input {
      text-align: center;
      width: 36px;
      height: 36px;
      padding: 10px 7px;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      background: #feb298;
      outline: none;
      border: none;

      @include respond-from(sm) {
        width: 47px;
        height: 50px;
        padding: 17px 10px;
      }
    }

    .product-quantity__nput::-webkit-outer-spin-button,
    .product-quantity__input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .select2-container {
    width: 190px !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 14px;
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #4d4d4d;
  }

  .select2-results__option {
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
  }
}

