.product-thumbs {
  text-align: center;
  margin-bottom: 42px;

  &-title {
  display: block;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #414141;
  }
}
