.thumb {
  background: #ffffff;
  margin: 0 auto;
  max-width: 240px;

  @include respond-from(xsm) {
    max-width: initial;
  }

  &-wrapper {
    //margin-right: 15px;
    //margin-left: 15px;
  }

  &__preview {
    display: block;
    position: relative;
    padding-bottom: 131.81%;
    cursor: pointer;
    overflow: hidden;

    &:hover .shop-it {
      opacity: 1;
    }

    .shop-it {
      display: flex;
      @include center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #3d3d3d;
      color: #ffffff;
      font-size: 11px;
      line-height: 14px;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity .8s ease;

      @include respond-from(smd) {
        width: 100px;
        height: 100px;
        font-size: 12px;
        line-height: 16px;
      }

      @include respond-from(md) {
        width: 120px;
        height: 120px;
      }

      @include respond-from(lg) {
        width: 134px;
        height: 134px;
      }

      i {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 6px;

        @include respond-from(md) {
          font-size: 30px;
          line-height: 30px;
          margin-bottom: 8px;
        }
      }
    }

    &.sale:after {
      content: "sale";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(-45deg, #ffffff 50%,  #4c4c4c 50%);
      padding: 7px 4px;
      font-size: 9px;
      font-family: $base-font;
      color: #ffffff;
      text-transform: uppercase;

      @include respond-from(xs) {
        width: 50px;
        height: 50px;
        font-size: 10px;
      }
    }
  }

  &-img {
    @include center;
    width: 100%;
  }

  &__info {
    padding: 5px 10px 8px;
    text-align: center;
    color: #373737;

    @include respond-from(xs) {
      padding: 10px;
    }

    &-name {
      font-size: 9px;
      line-height: 12px;
      margin-bottom: 4px;
      text-transform: uppercase;

      @include respond-from(xs) {
        font-size: 12px;
        line-height: 16px;
      }
    }
    
    &-cost {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 6px;
      text-transform: uppercase;

      @include respond-from(xs) {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 7px;
      }
    }
  }
}