extends layouts/default

block title
  title LookShop - Главная

block content
  include partials/slider-main
  include partials/subscription
  include partials/main-banner
  include partials/offers
  include partials/devider
  include partials/thumbs-one-row
  include partials/brands
  include partials/about-us
