extends layouts/default

block page
  - var page = "pages";
block title
  title LookShop - Список страниц

block content
  h1 Список страниц
  ul
    li
      a(href="index.html") Главная
      a(href="product.html") Product
      a(href="catalog.html") Catalog
