extends layouts/default

block title
  title LookShop - Product

block content
  include partials/product-preview
  include partials/social
  include partials/accordion
  include partials/product-thumbs
