$breakpoints: (
  xxs: 400px,
  xs: 480px,
  xsm: 640px,
  sm: 768px,
  smd: 840px,
  md: 992px,
  lg: 1200px,
  xl: 1300px,
);

// COLORS
$color-salmon: #fd926d;

// VARIABLES
$base-font: 'Arial', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$body-font-size: 14px;
$body-line-height: 1.2;
$body-color: #727272;
$body-background: #ffffff;

$site-width: 970px;
$container-padding: 15px;


$primary: $color-salmon;
$auxiliary: #dd6b44;
$secondary: #4fafa0;


$border: 1px solid #d6d6d6;
