.header-cart {
  width: 100%;
  border: 1px solid #d6d6d6;

  @include respond-from(xsm) {
    width: 214px;
    margin-left: 6px;
  }

  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    padding: 8px 15px;

    @include respond-from(xsm) {
      padding: 5px 7px 5px 6px;
      border-top: 1px solid #d6d6d6;
    }

    .icon-cart {
      font-size: 25px;
      line-height: 30px;
      color: #b3b3b3;
      @include respond-from(xsm) {
        font-size: 20px;
        line-height: 22px;
      }
    }

    &-basket {
      display: inline-block;
      text-align: right;
      color: #949393;
      font-size: 16px;
      line-height: 20px;

      @include respond-from(xsm) {
        font-size: 11px;
        line-height: 16px;
      }
      .total-items {
        text-transform: uppercase;
      }
    }
  }
}

.dropdown-header-cart {
  @include respond-to(xsm) {
    display: none;
  }
  .dropdown {
    &-toggle {
      color: #949393;
      padding: 9px 30px 9px 10px;

      &__arrow {
        width: 30px;

        &-icon {
          border-top-color: #c1c1c1;
        }
      }
    }

    &-menu {
      padding-left: 0;
      padding-right: 0;
      border: 1px solid #d6d6d6;
      background: #ffffff;
      min-width: auto;
      width: auto;
      right: -1px;
      left: -1px;
      box-shadow: none;
    }
  }
}

.cart-products-list {

  &__item {
    color: #544f4d;
  }

  &__link {
    cursor: pointer;
    color: #544f4d;

    @include respond-to(smd) {
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
}
