.header {
  padding: 21px 0 19px;
  background: $body-background;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__main-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}
