.brands-wrap
  .brands-title-wrap
    .brands-title.separator Favourite brands
  .container
    .brands-list
      .brands-list__item
        img.brand-list__item-img(src="./images/brands/addist.png")
      .brands-list__item
        img.brand-list__item-img(src="./images/brands/abandor.png")
      .brands-list__item
        img.brand-list__item-img(src="./images/brands/adidas.png")
      .brands-list__item
        img.brand-list__item-img(src="./images/brands/boyLondon.png")
      .brands-list__item
        img.brand-list__item-img(src="./images/brands/convers.png")
      .brands-list__item
        img.brand-list__item-img(src="./images/brands/calvinKlein.png")
      .brands-list__item
        img.brand-list__item-img(src="./images/brands/edvin.png")
      .brands-list__item
        img.brand-list__item-img(src="./images/brands/adidas.png")
      .brands-list__item
        img.brand-list__item-img(src="./images/brands/grenson.png")