.brands-wrap
  .container
    .brands-title-wrap
      .brands-title Favourite brands
      .brands-list
        .brands-list__item
          img.brand-list__item-img(srs="./images/brands/adidas.pnd")
        .brands-list__item
          img.brand-list__item-img(srs="./images/brands/adidas.pnd")
        .brands-list__item
          img.brand-list__item-img(srs="./images/brands/adidas.pnd")
        .brands-list__item
          img.brand-list__item-img(srs="./images/brands/adidas.pnd")
        .brands-list__item
          img.brand-list__item-img(srs="./images/brands/adidas.pnd")
        .brands-list__item
          img.brand-list__item-img(srs="./images/brands/adidas.pnd")
        .brands-list__item
          img.brand-list__item-img(srs="./images/brands/adidas.pnd")
        .brands-list__item
          img.brand-list__item-img(srs="./images/brands/adidas.pnd")
        .brands-list__item
          img.brand-list__item-img(srs="./images/brands/adidas.pnd")
