.cards
  .cards-text We accept
  .cards-list
    .cards-list__item
      img.cards-list__item-img(src="./images/cards/card.jpg")

    .cards-list__item
      img.cards-list__item-img(src="./images/cards/dk.jpg")

    .cards-list__item
      img.cards-list__item-img(src="./images/cards/maestro.jpg")

    .cards-list__item
      img.cards-list__item-img(src="./images/cards/viza.jpg")

    .cards-list__item
      img.cards-list__item-img(src="./images/cards/viza1.jpg")

    .cards-list__item
      img.cards-list__item-img(src="./images/cards/dk.jpg")

    .cards-list__item
      img.cards-list__item-img(src="./images/cards/card.jpg")

    .cards-list__item
      img.cards-list__item-img(src="./images/cards/viza1.jpg")

    .cards-list__item
      img.cards-list__item-img(src="./images/cards/viza.jpg")
