include ./thumb
.catalog
  .container
    .catalog-list
      .catalog-list__item
        +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo6.jpg')
      .catalog-list__item
        +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo7.jpg')
      .catalog-list__item
        +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo5.jpg')
      .catalog-list__item
        +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo4.jpg')