.catalog
  .container
    .catalog-slider-wrapper
      .catalog-slider-wrapper__inner
        .catalog-slider.swiper-container
          .swiper-wrapper
            - for (var i=1; i<=5; i++)
              .catalog-swiper-slide.swiper-slide.borders
                .catalog-row.clearfix
                  .catalog-col.catalog-col--preview
                      .catalog-slide__img-wrapper
                        img.catalog-slide__img(src="./images/catalog-slide.jpg")
                  .catalog-col.catalog-col--description
                    .description-content
                      .product-name Open Heart Top
                      .product-price.catalog-product-price $13.95
                      .product-text.catalog-product-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                      .btn.btn--big
                        span Add to card
                        i.icon-plus




          .catalog-slider__btn.catalog-slider__btn--next
            i.icon-arr-right
          .catalog-slider__btn.catalog-slider__btn--prev
            i.icon-arr-left

        .swiper-pagination.catalog-slider__pagination