include ./thumb
include ../components/radio-square

.catalog-wrap
  .container
    .catalog
      .catalog-thumbs-wrapper
        .catalog-thumbs-settings
          .pagination-wrap
            include ../components/pagination

          .thumbs-filter
            span.thumbs-filter__text Sort by
            select.js-select
              option(value="date") Date
              option(value="priceTop") Price Top
              option(value="priceBottom") Price Bottom
              option(value="popularity") Popularity
              option(value="brand") Brand

        .catalog-thumbs-block
          .catalog-thumbs
            .catalog-thumbs__item
              +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo1.jpg')
            .catalog-thumbs__item
              +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo2.jpg')
            .catalog-thumbs__item
              +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo3.jpg')
            .catalog-thumbs__item
              +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo6.jpg')
            .catalog-thumbs__item
              +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo1.jpg')
            .catalog-thumbs__item
              +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo4.jpg')
            .catalog-thumbs__item
              +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo5.jpg')
            .catalog-thumbs__item
              +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo6.jpg')
            .catalog-thumbs__item
              +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo7.jpg')


        .catalog-thumbs-settings
          include ../components/pagination


      .catalog-sidebar
        .btn--catalog-sidebar.btn.btn--dark.btn--with-arr Filters
        .catalog-sidebar-group.catalog-sidebar-group--filter
          .catalog-sidebar-title Categories
          include ./filters

        .catalog-sidebar-group
          .catalog-sidebar-title On Sale
          .sidebar-products
            a.sidebar-product(href="#")
              img.sidebar-product-img(src="./images/sale-img.jpg")
              .sidebar-product-info
                .sidebar-product-info__name PINTUCK TANK
                .sidebar-product-info__price $45.55
            a.sidebar-product(href="#")
              img.sidebar-product-img(src="./images/sale-img1.jpg")
              .sidebar-product-info
                .sidebar-product-info__name FOLICIA SILK SHIRT
                .sidebar-product-info__price $69.49
            a.sidebar-product(href="#")
              img.sidebar-product-img(src="./images/sale-img2.jpg")
              .sidebar-product-info
                .sidebar-product-info__name Laylala Shirt
                .sidebar-product-info__price $78.25


        .catalog-sidebar-group
          .catalog-sidebar-title Featured Products
          .sidebar-products
            a.sidebar-product(href="#")
              img.sidebar-product-img(src="./images/feat-img.jpg")
              .sidebar-product-info
                .sidebar-product-info__name Basic Sunglasses
                .sidebar-product-info__price $14.95
            a.sidebar-product(href="#")
              img.sidebar-product-img(src="./images/feat-img1.jpg")
              .sidebar-product-info
                .sidebar-product-info__name Billie J
                .sidebar-product-info__price $69.49
            a.sidebar-product(href="#")
                img.sidebar-product-img(src="./images/feat-img2.jpg")
                .sidebar-product-info
                  .sidebar-product-info__name Sandie Shopperbag
                  .sidebar-product-info__price $69.95

