include ../components/radio-square
include ../components/inputs

form(action="#")
  .filter
    #filter-accordion.filter-group(role='tablist', aria-multiselectable='true')
      .filter-group__item
        #headingOne(role='tab')
          a.filter-accordion(role='button', data-toggle='collapse', data-parent='#filter-accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
            span New
            i.icon-plus
            i.icon-minus
        #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
          +checkbox('pants', 'pants', 'Pants')
          +checkbox('blouses', 'blouses', 'Blouses')
          +checkbox('skirts', 'skirts', 'Skirts')
          +checkbox('sweaters', 'sweaters', 'Sweaters')
          +checkbox('cardigans', 'cardigans', 'Cardigans')

      .filter-group__item
        #headingTwo(role='tab')
          a.filter-accordion.collapsed(role='button', data-toggle='collapse', data-parent='#filter-accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
            span Designers
            i.icon-plus
            i.icon-minus
        #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
          +checkbox('armani', 'armani', 'Armani')
          +checkbox('versace', 'versace', 'Versace')
          +checkbox('gucci', 'gucci', 'Gucci')
          +checkbox('prada', 'prada', 'Prada')

      .filter-group__item
        #headingThree(role='tab')
          a.filter-accordion.collapsed(role='button', data-toggle='collapse', data-parent='#filter-accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
            span Women
            i.icon-plus
            i.icon-minus
        #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
          +checkbox('femaleClothes', 'femaleClothes', 'Clothes')
          +checkbox('femaleShoes', 'femaleShoes', 'Shoes')

      .filter-group__item
        #headingFour(role='tab')
          a.filter-accordion.collapsed(role='button', data-toggle='collapse', data-parent='#filter-accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
            span Men
            i.icon-plus
            i.icon-minus
        #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
          +checkbox('maleClothes', 'maleClothes', 'Clothes')
          +checkbox('maleShoes', 'maleShoes', 'Shoes')

      .filter-group__item
        #headingFive(role='tab')
          a.filter-accordion.collapsed(role='button', data-toggle='collapse', data-parent='#filter-accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
            span Clearance
            i.icon-plus
            i.icon-minus
        #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
          +radio('yes', 'clearance', 'Yes', 'checked')
          +radio('no', 'clearance', 'No')
          +radio('maybe', 'clearance', 'Maybe')

    .filter-range
      input.js-range-slider(type='text', name='filterRange', data-from-fixed="false", data-type="double", data-min="50", data-max="300", data-from="0", data-to="200")
      .range-price Price $
        span.range-price__min 0
        |- $
        span.range-price__max 200
    .filter-size
      .filter-size__text Select your size
      .filter-size__radio-list
        +radioSquare('xs', 'size', 'XS')
        +radioSquare('s', 'size', 'S')
        +radioSquare('m', 'size', 'M')
        +radioSquare('l', 'size', 'L')
        +radioSquare('xl', 'size', 'XL')
    .filter-control
      button.btn.btn--default.btn--filter(type="submit") Filter