.banner
  .container
    .banner-row.clearfix
      .banner-col
       .banner-image.banner-image--big
         a.banner-image__link(href="#")
          img.banner-image__img(src="./images/temp/banner-img.jpg")
      .banner-col
        .banner-row.clearfix
          .banner-col.banner-col--full
            .banner-image.banner-image--wide
              a.banner-image__link(href="#")
                img.banner-image__img(src="./images/temp/banner-img2.jpg")
        .banner-row.clearfix
          .banner-col
            .banner-image.banner-image--small
              a.banner-image__link(href="#")
                img.banner-image__img(src="./images/temp/banner-img3.jpg")
          .banner-col
            .banner-image.banner-image--small
              a.banner-image__link(href="#")
                img.banner-image__img(src="./images/temp/banner-img4.jpg")
              a.btn.btn-without-border-botttom.btn--with-arr.btn-green.btn--small.btn-banner
                |Shop Now
