include ../components/dropdown
include ./thumb


.offers
  // Nav tabs
  .container
    .nav.nav-tab-mobile(role='tablist')
      +dropdown ('what’s hot?', 'nav-tab-mobile__dropdown')
        ul.nav-tab-mobile__menu
          li.nav-tab-mobile__item.active(role='presentation')
            a.nav-tab-mobile__link(href='#hot', aria-controls='hot', role='tab', data-toggle='tab') What’s hot?
          li.nav-tab-mobile__item(role='presentation')
            a.nav-tab-mobile__link(href='#designers', aria-controls='designers', role='tab', data-toggle='tab') Designers
          li.nav-tab-mobile__item(role='presentation')
            a.nav-tab-mobile__link(href='#featured', aria-controls='featured', role='tab', data-toggle='tab') Featured
          li.nav-tab-mobile__item(role='presentation')
            a.nav-tab-mobile__link(href='#latest', aria-controls='latest', role='tab', data-toggle='tab') Latest

  // Tab panes

  .offers__tab-contents
    .tab-content
      #hot.tab-pane.active(role='tabpanel')
        .offer-slider-wrap
          .container
            .offer-slider-control-wrap
              .offer-slider-control
                .offer-slider__btn.offer-slider__btn--prev.offer-slider__btn--prev-hot
                .offer-slider__btn.offer-slider__btn--next.offer-slider__btn--next-hot


          .offer-slider.offer-slider-hot.swiper-container
            .swiper-wrapper
              - for (var i=1; i<=3; i++)
                .offer-slider-slide.swiper-slide
                  +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo1.jpg')
                .offer-slider-slide.swiper-slide
                  +thumb('HOT SHORTS', '$35.95', './images/temp/thumb/photo3.jpg')
                .offer-slider-slide.swiper-slide
                  +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo2.jpg')
                .offer-slider-slide.swiper-slide
                  +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo2.jpg')
            .btn.btn--smalleer.btn-black.btn-without-border-botttom.btn-offer Load More

      #designers.tab-pane(role='tabpanel')
        .offer-slider-wrap
          .container
            .offer-slider-control-wrap
              .offer-slider-control
                .offer-slider__btn.offer-slider__btn--prev.offer-slider__btn--prev-designers
                .offer-slider__btn.offer-slider__btn--next.offer-slider__btn--next-designers
          .offer-slider.offer-slider-designers.swiper-container
            .swiper-wrapper
              - for (var i=1; i<=3; i++)
                .offer-slider-slide.swiper-slide
                  +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo1.jpg')
                .offer-slider-slide.swiper-slide
                  +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo2.jpg')
                .offer-slider-slide.swiper-slide
                  +thumb('HOT SHORTS', '$35.95', './images/temp/thumb/photo3.jpg')
                .offer-slider-slide.swiper-slide
                  +thumb('HOT SHORTS', '$35.95', './images/temp/thumb/photo3.jpg')
            .btn.btn--smalleer.btn-black.btn-without-border-botttom Load More

      #featured.tab-pane(role='tabpanel')
        .offer-slider-wrap
          .container
            .offer-slider-control-wrap
              .offer-slider-control
                .offer-slider__btn.offer-slider__btn--prev.offer-slider__btn--prev-featured
                .offer-slider__btn.offer-slider__btn--next.offer-slider__btn--next-featured
          .offer-slider.offer-slider-featured.swiper-container
            .swiper-wrapper
              - for (var i=1; i<=3; i++)
                .offer-slider-slide.swiper-slide
                  +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo1.jpg')
                .offer-slider-slide.swiper-slide
                  +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo1.jpg')
                .offer-slider-slide.swiper-slide
                  +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo2.jpg')
                .offer-slider-slide.swiper-slide
                  +thumb('HOT SHORTS', '$35.95', './images/temp/thumb/photo3.jpg')
            .btn.btn--smalleer.btn-black.btn-without-border-botttom Load More

      #latest.tab-pane(role='tabpanel')
        .offer-slider-wrap
          .container
            .offer-slider-control-wrap
              .offer-slider-control
                .offer-slider__btn.offer-slider__btn--prev.offer-slider__btn--prev-latest
                .offer-slider__btn.offer-slider__btn--next.offer-slider__btn--next-latest
          .offer-slider.offer-slider-latest.swiper-container
            .swiper-wrapper
              - for (var i=1; i<=5; i++)
              .offer-slider-slide.swiper-slide
                +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo1.jpg')
              .offer-slider-slide.swiper-slide
                +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo2.jpg')
            .btn.btn--smalleer.btn-black.btn-without-border-botttom Load More
