.social-block-wrap
  .container
    .social-block-inner.bordered-section
      .social-block
        .social-block-row.clearfix
          .social-block-col
            a.social-block-item(href="#")
              .social-block-item__icon
                i.icon-fb
              span.social-block-item__text
                | Share
                br
                | on facebook


          .social-block-col
            a.social-block-item(href="#")
              .social-block-item__icon
                i.icon-pinterest
              span.social-block-item__text
                | Pin
                br
                | this product

          .social-block-col
            a.social-block-item(href="#")
              .social-block-item__icon
                i.icon-twitter
              span.social-block-item__text
                | Tweet
                br
                | this product


          .social-block-col
            a.social-block-item(href="#")
              .social-block-item__icon
                i.icon-email
              span.social-block-item__text
                | Email
                br
                | a friend