.subscription-wrap
  .container
    .subscription
      .subscription-email
        span Stay update
        form(action="#")
          .form
            input.subscription-email-input(type="text", placeholder="Your email address")
            button.btn.btn--square(type="submit")
              i.icon-plus
      .subscription-social
        span Find us here
        .social-list
          a.social-list__item(href="#")
            i.icon-fb
          a.social-list__item(href="#")
            i.icon-twitter
          a.social-list__item(href="#")
            i.icon-pinterest
