include ./thumb
.thumb-row
  .container
    .thumb-row-list
      .thumb-row-list__item
        +thumb('Mimosa Lace Dress', '$76.95', './images/temp/thumb/photo6.jpg')
      .thumb-row-list__item
        +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo7.jpg')
      .thumb-row-list__item
        +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo5.jpg')
      .thumb-row-list__item
        +thumb('FEEL TANK', '$59.95', './images/temp/thumb/photo4.jpg')
    .btn-thumb-wrap
      .btn.btn--smalleer.btn--dark.btn--not-bordered.btn-thumb-row Load More