include ../../components/dropdown

.header-cart
  +dropdown('Your cart', 'dropdown-header-cart', 'right-top')
    ul.cart-products-list
      li.cart-products-list__item Swimsuit madonna
      li.cart-products-list__item Marsala costume
      li.cart-products-list__item Blouse Janine
      li.cart-products-list__item Polo shirt
      li.cart-products-list__item Trousers Mom
  .header-cart-total
    i.icon-cart
    .header-cart-total-basket
      span.total-items 0
      |  item  |  $
      span.total-coast 0
