include ../../components/dropdown

.header-cart
  +dropdown('Your cart', 'dropdown-header-cart', 'right-top')
    ul.cart-products-list
      li.cart-products-list__item
        a.cart-products-list__link Swimsuit madonna
      li.cart-products-list__item
        a.cart-products-list__link Marsala costume
      li.cart-products-list__item
        a.cart-products-list__link Blouse Janine
      li.cart-products-list__item
        a.cart-products-list__link Polo shirt
      li.cart-products-list__item
        a.cart-products-list__link Trousers Mom
  .header-cart-total
    i.icon-cart
    .header-cart-total-basket
      span.total-items 0
      |  item  |  $
      span.total-coast 0
