include ../../components/dropdown
- var navItemClass = 'dropdown-navigation'


mixin cartProductsList(list)
  ul.cart-products-list
    each item in list
      li.cart-products-list__item
        a.cart-products-list__link(href="catalog.html")
          span= item

.navigation
  .navigation__menu menu
  .navigation-hamburger
    .navigation-hamburger__item
    .navigation-hamburger__item
    .navigation-hamburger__item

  nav.navigation-list
    .navigation-list__item
      +dropdown('new', navItemClass)
        +cartProductsList(['coat', 'raincoats', 'jacket', 'hats', 'gloves'])
    .navigation-list__item
      +dropdown('designers', navItemClass)
        +cartProductsList(['swimwear', 'skirts', 'suits', 'dresses'])
    .navigation-list__item
      +dropdown('women', navItemClass)
        +cartProductsList(['pants', 'skirts', 'sweaters', 'blouses', 'dresses'])
    .navigation-list__item
      +dropdown('men', navItemClass)
        +cartProductsList(['suit', 'shirts', 'sweaters', 'pants', 'shorts'])
    .navigation-list__item
      +dropdown('clearence', navItemClass)
        +cartProductsList(['suit', 'sweaters', 'skirts'])
