.pagination-block
  .pagination-block__text Showing 1-12 of 347 results
  .pagination
    a.pagination--btn.btn.btn--square.btn--big.btn--not-bordered(href="#")
      i.icon-arr-left.thumbs-pagination-icon
    a.pagination--btn.btn.btn--square.btn--big.btn--not-bordered(href="#") 1
    a.pagination--btn.btn.btn--square.btn--big.btn--not-bordered(href="#") 2
    span.pagination--btn.btn.btn--square.btn--big.btn--not-bordered(href="#") ...
    a.pagination--btn.btn.btn--square.btn--big.btn--not-bordered.active(href="#") 5
    a.pagination--btn.btn.btn--square.btn--big.btn--not-bordered(href="#")
      i.icon-arr-right.thumbs-pagination-icon